@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Montserrat:wght@200;400;500;700;800&family=Playfair+Display:wght@500;600;700&family=Raleway:wght@300;400;600;700;800;900&family=Syne:wght@700;800&family=Tenor+Sans&display=swap');


body {
  // background-color: #6F47EB;
}

.signInOuterCover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-container {
  flex: 1;
}

.signInContainer {
  flex: 1;
  padding: 20px;
}

.signInContainer {
  position: fixed;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#SignInformId {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 27vh;
  width: 30vw;
}


.signinGooglebtn {
  font-size: 1rem;
}

.signinGooglebtn:hover{
  transition: 0.3s;
  background-color: #256fe5 !important;
}

#SignInFormInput {
  text-align: center;
  opacity: 1;
  width: 23vw;
  border-radius: 8px;
  padding: 2px;
  background: rgb(240, 240, 240);
  border: 1px solid black;
  height: 54px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
}

#SignInFormInput::placeholder {
  color: rgb(68, 68, 68);
  border: none !important;
  opacity: 1;
  font-size: 1rem;
}

#SignInformId button {
  width: 23vw;
  opacity: 0.91;
  padding: 10px;
  height: 5vh;
}

.signInHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(76, 76, 76);
}

.signInHeading h2 {
  color: black;
  font-size: 3.5rem;
  margin-bottom: 3px;
}

.hrDown {
  border: 0.1px solid black;
  width: 140px;
  margin: 12px;
}

.lineBreakAuth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#googleButton {
  margin-bottom: 20px;
  background-color: #FFFFFF;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  border: 1px solid black;
}

#googleButton:hover {
  background-color: #4285F4;
  color: white;
  border: none;
}

.signInform-container {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 0.1px solid #83838370;
  border-radius: 15px;
  padding: 40px 10px;
  height: 60vh;
}

.text-signin-box {
  font-size: 1.2rem;
  color: rgb(23, 23, 23);
  margin-bottom: 40px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.signin-title-1 {

  font-size: 5.25rem;
  font-family: Syne;
  font-weight: 700;
  margin-right: 20%;
  color: #FFFFFF;

}

.signin-title-2 {
  font-size: 4rem;
  font-family: Syne;
  font-weight: 700;
  margin-right: 20%;
  color: rgb(255, 255, 255);
}

.title-container {
  margin-right: 5%;
}

.signin-btn {
  background-color: #6F47EB;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: none;
}

.signin-btn:hover {
  transition: 0.3s;
  background-color: #572ade;
}

.email-input-sigin{
  background-color: white !important;
  border: 0.1px solid #000000 !important;

}