@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@100;200;300;500;600;700&family=Poppins:wght@300&display=swap');

.heading {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 0.02em;
    color: #1F1F1F;
}

.title {
    background: #6F47EB;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 5px 5px 50px 5px;
    width: fit-content;
    font-family: 'Inter';
    font-size: 20px;
    color: #F7F7F7;
}

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

// Button Row
.button-row,
.prompt-example {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    width: fit-content;
    background: rgba(217, 217, 217, 0.32);
    border-radius: 30px;
    padding: 10px 25px;
    color: #595959;
}

.button-row {
    margin-top: 15px;
}

.text-input {
    width: 40vw;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #595959;
    background-color: #1f1f1f00;
}

.text-input:focus {
    outline: none;
}

.voice-button,
.submit-button {
    border: none;
    color: #595959;
    margin: 0px 8px;
}

.voice-button {
    background-color: #1f1f1f00;
}

.voice-button:hover,
.submit-button:hover {
    cursor: pointer;
}

.voice-button-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.prompt-section {
    margin: 20px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 60px;
}

.card {
    border: 1px solid #CFCFCF;
    filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    width: 280px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.card-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 8px 5px 8px;
}

.card-content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: center;

}

//****************
// Chat Interface 
//****************

.chat-container {
    height: fit-content;
    min-height: 78vh;
    max-height: 78vh;
    overflow-y: scroll;
    border-radius: 16px;
    padding: 30px 0px;
}

.chat-item-right {
    display: flex;
    flex-direction: row-reverse;
    margin: 15px 20px;
    align-items: center;
    text-align: justify;
    color: #595959;
}

.chat-item-left {
    display: flex;
    flex-direction: row;
    margin: 15px 20px;
    text-align: justify;
    align-items: center;
    color: #595959;

}

.chat-section-left {
    max-width: 45vw;
    background: rgba(195, 142, 238, 0.32);
    border-radius: 30px;
    padding: 10px 25px;
}


.chat-section-right {
    max-width: 45vw;
    background: rgba(217, 217, 217, 0.32);
    border-radius: 30px;
    padding: 10px 25px;
}

.user-chat-icon {
    width: 15px;
    border-radius: 50%;
    object-fit: cover;
    margin: 8px;
}

.bx-bot {
    margin: 8px;
}

.chat-user-prompt {
    background-color: #1f1f1f14;
}

.disclaimer{
    font-size: 12px;
    color: rgba(15, 15, 15, 0.41);
    text-align: center;
}