.navbar{
    background-color: #FAFAFA;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

.navbar__right{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__right a{
text-decoration: none;
color: black;
font-weight: 400;
}

.navbar__left{
    display: flex;
    align-items: center;
}

.user {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
  }